<!DOCTYPE html>
<html>
<head>

	<title>Primer</title>

</head>
<body>

1 ucheebniy sentr <a href="https://demo.jsnorm.com/html/tizara/dist/services-one.html" style="font-size: 24px;"><button>button</button></a><br>
	kurs web 	<br>
	kurs roboto <br>
		video foto uchenik <br>
2 nawi producti <a href="https://demo.jsnorm.com/html/tizara/dist/blog-right-sidebar.html" style="font-size: 24px;"><button>button</button></a><br>
3 nawi klient <a href="https://demo.jsnorm.com/html/tizara/dist/blog-details-video.html" style="font-size: 24px;"><button>button</button></a><br>
4 nawi sponsor <a href="https://demo.jsnorm.com/html/tizara/dist/clients.html" style="font-size: 24px;"><button>button</button></a><br>
5 nawi student <a href="https://demo.jsnorm.com/html/tizara/dist/team-single.html" style="font-size: 24px;"><button>button</button></a><br>
6 nawi uspehi <a href="https://demo.jsnorm.com/html/tizara/dist/blog-details-slider.html" style="font-size: 24px;"><button>button</button></a><br>
6 nawi koomand <a href="https://demo.jsnorm.com/html/tizara/dist/team-grid.html" style="font-size: 24px;"><button>button</button></a><br>
7 o nas kompaniya <a href="https://demo.jsnorm.com/html/tizara/dist/about-two.html" style="font-size: 24px;"><button>button</button></a><br>
8 razrabotka (sayt .....) <a href="" style="font-size: 24px;"><button>button</button></a><br>
9 avtomatizatsiya <a href="" style="font-size: 24px;"><button>button</button></a><br>
10 raskrutka smm <a href="" style="font-size: 24px;"><button>button</button></a><br>



 
</body>
</html>

