{% extends 'base.html' %}
{% block content %}
{% load static %}
<section class="breadcrumb_area breadcrumb2 bgimage biz_overlay">
        <div class="bg_image_holder">
            <img src="{% static 'image/foto1/breadbg.jpg' %}" alt="">
        </div>
        <div class="container content_above">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb_wrapper d-flex flex-column align-items-center">
                        <h4 class="page_title">Учебный Центр</h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb m-bottom-30">
                                <li class="breadcrumb-item"><a href="/">Главная</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Учебный Центр</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div><!-- ends: .row -->
        </div>
    </section><!-- ends: .breadcrumb_area -->
<section class="content-block content-block--15">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 section-title">
                    <h2>Компьютерные курсы  <br>  Help Information Technology </h2>
                    <p>Компьютерные курсы Help-IT - это команда действующих профессионалов высокого уровня.
                        Индивидуальный подход к каждому!
                    </p>
                </div><!-- ends: .section-title -->
                <div class="col-lg-12 m-bottom-20">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-lg-0 order-1">
                            <div class="content-desc">
                                <h4>Доступные цены / Удобный график</h4>
                                <p>Обучаем самому необходимому для вашей карьеры .<br>

                                    Мы работаем, днем и вечером.<br>
                                    В субботу и воскресенье<br>
                                    <br><br></p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1 order-lg-1 order-0">
                            <img src="{% static 'image/service1.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div><!-- ends: .col-lg-12 -->
                <div class="col-lg-12 m-bottom-20">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <img src="{% static 'image/service2.png' %}" alt="" class="img-fluid">
                        </div>
                        <div class="col-lg-5 offset-lg-1">
                            <div class="content-desc">
                                <h4>Полезные и нужные знания</h4>
                                <p>Обучаем самому необходимому для вашей карьеры .
                                    <br>
                                    Главное в образовании, хороший учитель.
                                    <br>  Именно передаст свои знания . </p>
                            </div>
                        </div>
                    </div>
                </div><!-- ends: .col-lg-12 -->
                <div class="col-lg-12">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-lg-0 order-1">
                            <div class="content-desc">
                                <h4>Выдача сертификатов</h4>
                                <p>Подтверждения полученных знаний!</p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1 order-lg-1 order-0 margin-md-60">
                            <img src="{% static 'image/service3.png' %}" alt="" class="img-fluid">
                        </div>
                    </div>
                </div><!-- ends: .col-lg-12 -->
            </div>
        </div>
    </section>
    <section class="p-top-70 p-bottom-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="logo-carousel-one owl-carousel">
                        {% for sp in sponsors %}
                        <div class="carousel-single">
                            <img src="/media/{{ sp.logo }}" alt="">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="project-grid-3 section-padding2 section-bg">
        <div class="filter-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="filter-sort">
                            <ul id="category_filter">
                                <li data-uk-filter="" class="active"> Все  </li>
                                <li data-uk-filter="1"> Веб-программирование </li>
                                <li data-uk-filter="1"> Программирование </li>
                                <li data-uk-filter="2"> Автоматизация</li>
                                <li data-uk-filter="3"> Граф. дизайн </li>
                                <li data-uk-filter="4"> Ком. грамотность </li>
                                <li data-uk-filter="3"> Робототехники </li>
                            </ul>
                        </div><!-- ends: .filter-sort -->
                    </div><!-- ends: .col-lg-12 -->

                    <div class="col-lg-12">
                        <div class="row" data-uk-grid="{controls: '#category_filter'}" style="position: relative; height: 1435.1px;">
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="1" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 0px; opacity: 1; left: 0px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c1.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="2, 1" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 0px; opacity: 1; left: 379.987px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c2.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="3, 2" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 0px; opacity: 1; left: 759.974px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c3.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="4, 3" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 358.775px; opacity: 1; left: 0px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c1.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="2, 3" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 358.775px; opacity: 1; left: 379.987px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c2.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="1, 4" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 358.775px; opacity: 1; left: 759.974px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c3.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="2" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 717.55px; opacity: 1; left: 0px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c1.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="3, 1" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 717.55px; opacity: 1; left: 379.987px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c2.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="4, 2" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 717.55px; opacity: 1; left: 759.974px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c3.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="1, 3" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 1076.32px; opacity: 1; left: 0px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c1.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="4, 3" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 1076.32px; opacity: 1; left: 379.987px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c2.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                            <div class="filtr-item col-lg-4 col-md-6" data-uk-filter="1, 4" data-grid-prepared="true" style="position: absolute; box-sizing: border-box; top: 1076.32px; opacity: 1; left: 759.974px;">

    <div class="card card-shadow card-one">
        <figure>
            <img src="img/c3.jpg" alt="">
            <figcaption>
                <a href=""><i class="la la-link"></i></a>
            </figcaption>
        </figure>
        <div class="card-body">
            <p class="card-subtitle color-secondary">Business Services</p>
            <h6><a href="">Financial Sustainability</a></h6>
        </div>
    </div><!-- Ends: .card -->

                            </div><!-- ends: .col-lg-4 -->
                        </div>
                    </div><!-- ends: .filtr-container -->
                </div>
            </div>
        </div><!-- ends: .filter-wrapper -->
    </section>
 {% endblock %}